{% extends "app/base.html" %}
{% load static %}

{% block slider %} 
<div class="container-fluid p-0">
    <div class="text-center">
        <img src="{% static 'app/images/slider/2.jpg'%}" class="img-fluid w-100" alt="Main Banner" style="max-height: 500px; object-fit: cover;">
    </div>
</div>
{% endblock slider %}

{% block main_content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Sản Phẩm</h2>
    <div class="row">
        <div class="col-lg-3">
            <img class="thumbnail" src="{% static 'app/images/product1.jpg'%}"> 
            <div class="box-element product">
                <h6><strong>Sản phẩm</strong></h6>
                <hr>
                <button class="btn btn-outline-secondary">Thêm vào giỏ</button>
                <a class="btn btn-outline-success" href="#">Xem</a>
                <h4 style="display:inline-block; float:right"><strong>20.000đ</strong></h4>
            </div>
        </div>

        <div class="col-lg-3">
            <img class="thumbnail" src="{% static 'app/images/product1.jpg'%}"> 
            <div class="box-element product">
                <h6><strong>Sản phẩm</strong></h6>
                <hr>
                <button class="btn btn-outline-secondary">Thêm vào giỏ</button>
                <a class="btn btn-outline-success" href="#">Xem</a>
                <h4 style="display:inline-block; float:right"><strong>20.000đ</strong></h4>
            </div>
        </div>

        <div class="col-lg-3">
            <img class="thumbnail" src="{% static 'app/images/product1.jpg'%}"> 
            <div class="box-element product">
                <h6><strong>Sản phẩm</strong></h6>
                <hr>
                <button class="btn btn-outline-secondary">Thêm vào giỏ</button>
                <a class="btn btn-outline-success" href="#">Xem</a>
                <h4 style="display:inline-block; float:right"><strong>20.000đ</strong></h4>
            </div>
        </div>

        <div class="col-lg-3">
            <img class="thumbnail" src="{% static 'app/images/product1.jpg'%}"> 
            <div class="box-element product">
                <h6><strong>Sản phẩm</strong></h6>
                <hr>
                <button class="btn btn-outline-secondary">Thêm vào giỏ</button>
                <a class="btn btn-outline-success" href="#">Xem</a>
                <h4 style="display:inline-block; float:right"><strong>20.000đ</strong></h4>
            </div>
        </div>
    </div>

    <!-- Categories Section -->
    <section class="mt-5 mb-5">
        <h2 class="text-center mb-4">Danh Mục Sản Phẩm</h2>
        <div class="row">
            <div class="col-md-3 mb-4">
                <div class="card h-100">
                    <img src="{% static 'app/images/category1.jpg'%}" class="card-img-top" alt="Category 1">
                    <div class="card-body text-center">
                        <h5 class="card-title">Thể Loại 1</h5>
                        <p class="card-text">Các sản phẩm thuộc thể loại 1</p>
                        <a href="#" class="btn btn-primary">Xem thêm</a>
                    </div>
                </div>
            </div>

            <div class="col-md-3 mb-4">
                <div class="card h-100">
                    <img src="{% static 'app/images/category2.jpg'%}" class="card-img-top" alt="Category 2">
                    <div class="card-body text-center">
                        <h5 class="card-title">Thể Loại 2</h5>
                        <p class="card-text">Các sản phẩm thuộc thể loại 2</p>
                        <a href="#" class="btn btn-primary">Xem thêm</a>
                    </div>
                </div>
            </div>

            <div class="col-md-3 mb-4">
                <div class="card h-100">
                    <img src="{% static 'app/images/category3.jpg'%}" class="card-img-top" alt="Category 3">
                    <div class="card-body text-center">
                        <h5 class="card-title">Thể Loại 3</h5>
                        <p class="card-text">Các sản phẩm thuộc thể loại 3</p>
                        <a href="#" class="btn btn-primary">Xem thêm</a>
                    </div>
                </div>
            </div>

            <div class="col-md-3 mb-4">
                <div class="card h-100">
                    <img src="{% static 'app/images/category4.jpg'%}" class="card-img-top" alt="Category 4">
                    <div class="card-body text-center">
                        <h5 class="card-title">Thể Loại 4</h5>
                        <p class="card-text">Các sản phẩm thuộc thể loại 4</p>
                        <a href="#" class="btn btn-primary">Xem thêm</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock main_content %}