{% extends "app/base.html" %}
{% load static %}

{% block slider %} 
<div class="container-fluid p-0">
    <div class="text-center">
        <img src="{% static 'app/images/slider/2.jpg'%}" class="img-fluid w-100" alt="Main Banner" style="max-height: 500px; object-fit: cover;">
    </div>
</div>
{% endblock slider %}

{% block main_content %}
<div class="container mt-4">
    <div class="row">
        {% for product in Products %}
        <div class="col-lg-4 mb-4">
            <div class="card">
                {% if product.image_url %}
                    <img class="card-img-top" src="{{ product.image_url }}" alt="{{  product.image_url }}">
                {% else %}
                    <img class="card-img-top" src="{% static 'app/images/placeholder.png' %}" alt="placeholder">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title"><strong>{{ product.product_name }}</strong></h5>
                    <p class="card-text">{{ product.description|truncatewords:20 }}</p>
                    <hr>
                    <button class="btn btn-outline-secondary add-btn">Thêm vào giỏ</button>
                    <a class="btn btn-outline-success" href="#">Chi tiết</a>
                    <h4 class="mt-2 text-end"><strong>{{ product.price }}</strong></h4>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="col-12 text-center">
            <p>Không có sản phẩm nào.</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock main_content %}